@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}




<main>

    <p> Shop for handmade, vintage, custom and unique items</p>

    <img src="~/images/personalised-items.png" alt="personalised items" />
    <img src="~/images/party-organiser.png" alt="parties organisations" />
    <img src="~/images/Mugs-Discount.png" alt="discounts" />


</main>



<p>@DateTime.Now.ToString("dd MMM yyyy")</p>
<partial name="_Footer" />
