@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}




<main>

    <p> Shop for handmade, vintage, custom and unique items</p>
    <div class="container">
        <div>
            <img src="~/images/personalised-items.png" alt="personalised items" />
        </div>

        <div>
            <img src="~/images/party-organiser.png" alt="parties organisations" />
        </div>

        <div>
            <img src="~/images/Mugs-Discount.png" alt="discounts" />
        </div>

    </div>

</main>



<p>@DateTime.Now.ToString("dd MMM yyyy")</p>
<partial name="_Footer" />