@{
    ViewData["Title"] = "EL TOCADOR DE SUSU";
    Layout = "_Layout";
}


<main>

    <p class="title"> Shop for handmade, vintage, custom and unique items</p>
    <div class="grid-container">
        <div class="grid-item">
            <img src="~/images/personalised-items.png" alt="personalised items" />
        </div>

        <div class="grid-item">
            <img src="~/images/party-organiser.png" alt="parties organisations" />
        </div>

        <div class="grid-item">
            <img src="~/images/Mugs-Discount.png" alt="discounts" />
        </div>

        <div class="grid-item">
            <img src="~/images/drawing.png" alt="discounts" />
        </div>

        <div class="grid-item">
            <img src="~/images/ramadan-sale.png" alt="discounts" />
        </div>

        <div class="grid-item">
            <img src="~/images/personalised-present-box.png" alt="discounts" />
        </div>
    </div>
   
    <partial name="_Footer" />
</main>



