@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}




<main>

    <p> Shop for handmade, vintage, custom and unique items</p>

   
        <div class="column">
            <img src="~/images/personalised-mug.png" alt="personalised-mug">
            <img src="~/images/personalised-cristal-box.png" alt="">
            <img src="~/images/engraved-wine-cups.png" alt="">
            <img src="~/images/engraved-wine-cups.png" alt="">
        </div>

       
</main>

<p>@DateTime.Now.ToString("dd MMM yyyy")</p>
<partial name="_Footer" />
