@{
    ViewData["Title"] = "Our Products";
    Layout = "_Layout";

}



<main>

    <div class="title">
        <h1>Our Products</h1>
    </div>


    <div class="grid-container">

        @foreach (var item in Model)
        {
            <div class="grid-item">
                <h2>@item.ProductName</h2>
                <img src="~/images/@item.Image" alt="@item.ProductName" />
                <p>@item.PrDescription</p>

            </div>
        }

    </div>
    <partial name="_Footer" />
</main>


