@{
    ViewData["Title"] = "Our Products";
    Layout = "_Layout";

}



<ul>
    @foreach (var item in Model)
    {
        <li>@item.ProductName</li>
        <li>@item.PrDescription</li>
        <li>@item.PrPrice</li>
    }

</ul>
    
