@{
    ViewData["Title"] = "Our Products";
    Layout = "_Layout";

}


<main>
   
    <h1>Our Products</h1> 
  
    <div class="wrapper">

        @foreach (var item in Model)
         {
            <div class="contentImg">
                @item.Image
            </div>

            <div class="contenttxt">
                <h2>@item.ProductName</h2>

                <ul>

                    <li>@item.PrDescription</li>
                    <li>£@item.PrPrice</li>

                </ul>
            </div>
         }
    </div>



</main>

    <partial name="_Footer" />
