@{
    ViewData["Title"] = "Our Products";
    Layout = "_Layout";

}



<main>

    <h1>Our Products</h1>

    <div class="wrapper">
        @foreach (var item in Model)
         {
            <ul class="listing">

                <li>

                    <h2>@item.ProductName</h2>

                    <div class="body">

                        <img src="~/images/@item.Image" alt="@item.ProductName" />
                        <p>@item.PrDescription</p>                     
                    </div>                  
                </li>
            </ul>
         }
    </div>

</main>

<partial name="_Footer" />
