
<footer class="footer">

    <p>El tocador de susu &copy; @DateTime.Now.ToString("dd MMM yyyy"). All right reserved </p>

    <a href="/Home/ContactUs" class="nav-links">Contact Us</a>
    <a href="/Home/Privacy" class="nav-links">Privacy</a>
    <a asp-controller="CMS" asp-action="Index" class="nav-links">CMS</a>


</footer>

