<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/site.css">
    <script src="~/js/site.js"></script>
    
    <title>@ViewData["Title"]</title>
</head>

<body>

    <header>

        <nav class="navbar">

            <span class="navbar-toggle" id="js-navbar-toggle">
                <i class="fas fa-bars"></i>
            </span>

            <a hrefr="/Home/Index" class="logo"><img src="~/images/logo.png" alt="El TOCADOR DE SUSU"></a>

            <ul class="main-nav" id="js-menu">
                <li><a href="/Home/Index" class="nav-links">Home</a></li>
                <li><a href="/Home/Products" class="nav-links">Our Products</a></li>
                <li><a href="/Home/OurWork" class="nav-links">Our Work</a></li>
                <li><a href="/Home/LogIn" class="nav-links">Log In</a></li>
                <li><a href="/Home/Products" class="nav-links">Basket</a></li>
                <li><a href="/Home/Privacy" class="nav-links">Contact Us</a></li>
                <li><a href="/Home/Privacy" class="nav-links">Privacy</a></li>
                <li><a asp-controller="CMS" asp-action="Index" class="nav-links">CMS</a></li>
            </ul>
        </nav>

        <div>
            <h1>@ViewData["PageHeading"]</h1>
        </div>
    </header>

    @RenderBody()

</body>
</html>
