<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/site.css">
    <title>@ViewData["Title"]</title>
</head>

<body>

    <header>
        <img src="~/images/logo.png" alt="El TOCADOR DE SUSU">
        <nav>
            <ul>
                <li><a href="/Home/Index">Home</a></li>
                <li><a href="/Home/Products">Our Products</a></li>
                <li><a href="/Home/OurWork">Our Work</a></li>
                <li><a href="/Home/LogIn">Log In</a></li>
                <li><a href="/Home/Products">Basket</a></li>
                <li><a href="/Home/Privacy">Contact Us</a></li>
                <li><a href="/Home/Privacy">Privacy</a></li>
            </ul>
        </nav>
    </header>


    @RenderBody()

</body>
</html>
