body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;

}

header{
    background: lightpink;
    padding: 2rem;
}

a{
    text-align: center;
    text-decoration: none;
    color: black;
    text-decoration:solid;
    text-size-adjust: 12%;
}

main{
    background: coral;
}

footer{
    background: wheat;
    padding: 2rem;
    text-align: center;
}